/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on June 6, 2015 */
@font-face {
  font-family: 'streamsterregular';
  src: url("streamster-webfont.eot");
  src: url("streamster-webfont.eot?#iefix") format("embedded-opentype"), url("streamster-webfont.woff2") format("woff2"), url("streamster-webfont.woff") format("woff"), url("streamster-webfont.ttf") format("truetype"), url("streamster-webfont.svg#streamsterregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 26, ../sass/main.scss */
label, .overlay, .nav a, .footer-navigation li a:hover {
  transition: all .3s;
}

/*Typography*/
/*body {font: 16px sans-serif;}*/
/*Layout*/
/* line 31, ../sass/main.scss */
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* line 38, ../sass/main.scss */
.banner {
  background: url(../image/background.png) no-repeat center;
  background-size: 100% 100%;
  background-position: 50% 50%;
  width: 100%;
}

/*Section*/
/* line 45, ../sass/main.scss */
section,
.overlay {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 52, ../sass/main.scss */
input {
  display: none;
}

/* line 53, ../sass/main.scss */
input:checked + label:before {
  content: url(../image/04.png);
}

/* line 54, ../sass/main.scss */
input:checked ~ .overlay {
  visibility: visible;
  opacity: 1;
}

/* line 58, ../sass/main.scss */
label {
  position: absolute;
  top: 0.625em;
  left: 0.625em;
  z-index: 99;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
/* line 68, ../sass/main.scss */
label:before {
  content: url(../image/03.png);
}

/* line 72, ../sass/main.scss */
.overlay {
  position: absolute;
  z-index: 2;
  background: #333;
  background: rgba(51, 51, 51, 0.9);
  opacity: 0;
  visibility: hidden;
  top: 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

/* line 83, ../sass/main.scss */
.nav {
  width: 12em;
  height: 12em;
  list-style-type: none;
  margin: 0 auto;
  padding-top: 160px;
}

/* line 90, ../sass/main.scss */
.nav a {
  font-family: arial;
  display: block;
  color: #fff;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 99, ../sass/main.scss */
.nav a:focus, .nav a:hover {
  color: #e37a6a;
  font-size: 28px;
}

/* line 105, ../sass/main.scss */
.nav li {
  padding-bottom: 80px;
}

/*BUTTONS*/
/* line 109, ../sass/main.scss */
.search {
  position: absolute;
  top: 0.625em;
  right: 0.625em;
  cursor: pointer;
  display: block;
}

/* line 117, ../sass/main.scss */
.btn-down {
  position: absolute;
  bottom: 25px;
  left: 50%;
}

/* line 123, ../sass/main.scss */
.btn-down img {
  display: block;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

/*TOP BANNER*/
/* line 135, ../sass/main.scss */
.logo-1 {
  padding-top: 27%;
  width: 100%;
  text-align: center;
}

/* line 141, ../sass/main.scss */
.logo-1 span {
  color: white;
  font-size: 75px;
  letter-spacing: 10px;
  font-family: 'streamsterregular';
  margin-left: -570px;
}

/* line 149, ../sass/main.scss */
.logo-2 {
  text-align: center;
}

/* line 152, ../sass/main.scss */
.logo-2 span {
  color: white;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 17px;
  font-family: arial;
}

/* line 160, ../sass/main.scss */
.train {
  width: 67%;
  height: 60px;
  margin: 0 auto;
  padding-bottom: 200px;
}

/* line 166, ../sass/main.scss */
.train img {
  height: auto;
  display: block;
  width: 95%;
  text-align: center;
}

/*ABOUT ME*/
/* line 176, ../sass/main.scss */
.inner-left {
  width: 44%;
  margin: 0 auto;
}

/* line 181, ../sass/main.scss */
.inner-left p {
  font-family: Arial;
  font-style: italic;
  margin-top: 20px;
  padding-bottom: 230px;
}

/* line 188, ../sass/main.scss */
.inner-left h1 {
  font-family: arial;
  font-size: 40px;
  text-transform: uppercase;
  color: #526a75;
  padding-top: 145px;
  text-align: center;
}

/* line 196, ../sass/main.scss */
.inner-left img {
  float: right;
  margin-top: -80px;
}

/* line 205, ../sass/main.scss */
.gallery {
  width: 100%;
}

/* line 209, ../sass/main.scss */
.row {
  height: 495px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25px;
}

/* line 216, ../sass/main.scss */
.row div {
  display: inline-block;
}

/* line 220, ../sass/main.scss */
.row img {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

/* line 225, ../sass/main.scss */
.item-1 {
  width: 345px;
  height: 235px;
  margin-right: 25px;
}

/* line 231, ../sass/main.scss */
.class-1 {
  width: 345px;
  height: 235px;
  margin-bottom: 25px;
}

/* line 236, ../sass/main.scss */
.class-2 {
  width: 345px;
  height: 235px;
}

/* line 241, ../sass/main.scss */
.item-2 {
  width: 340px;
  height: 495px;
  margin-right: 25px;
}

/* line 246, ../sass/main.scss */
.item-3 {
  width: 460px;
  height: 495px;
}

/* line 251, ../sass/main.scss */
.row-1 {
  height: 355px;
  margin: 0 auto;
  text-align: center;
}

/* line 256, ../sass/main.scss */
.row-1 div {
  display: inline-block;
}

/* line 260, ../sass/main.scss */
.item-4 {
  width: 345px;
  height: 355px;
  margin-right: 25px;
}

/* line 266, ../sass/main.scss */
.item-5 {
  width: 345px;
  height: 355px;
  margin-right: 24px;
}

/* line 272, ../sass/main.scss */
.item-6 {
  width: 460px;
  height: 355px;
}

/* line 282, ../sass/main.scss */
.bottom-row div, .top-row div {
  display: inline-block;
  /*outline: 1px solid black;*/
  width: 32%;
}

/* line 288, ../sass/main.scss */
.top-row {
  margin-top: 100px;
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 180px;
}

/* line 295, ../sass/main.scss */
.bottom-row {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 125px;
}

/* line 300, ../sass/main.scss */
.statistics .text {
  font-family: arial;
  text-transform: uppercase;
  font-size: 14px;
  color: #674a4a;
  text-align: center;
  letter-spacing: 3px;
}

/* line 309, ../sass/main.scss */
.statistics .numb {
  font-size: 45px;
  color: #674a4a;
  text-align: center;
  font-family: arial;
  letter-spacing: 10px;
}

/* line 317, ../sass/main.scss */
.statistics img {
  padding-bottom: 70px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

/*FOOTER*/
/* line 328, ../sass/main.scss */
.footer {
  width: 100%;
  height: 380px;
  background: url(../image/footer_giraffe.png) no-repeat;
  background-position: left;
}

/* line 334, ../sass/main.scss */
.message-for-me {
  width: 50%;
  margin: 0 auto;
}

/* line 338, ../sass/main.scss */
.message-for-me hr {
  width: 220px;
  display: block;
  margin: 0 auto;
}

/* line 345, ../sass/main.scss */
.message-for-me .letter {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-right: 300px;
}

/* line 351, ../sass/main.scss */
.message-for-me p {
  text-transform: uppercase;
  font-family: arial;
  text-align: center;
  color: #c0b6b6;
  font-size: 12px;
  margin-bottom: -15px;
}

/* line 359, ../sass/main.scss */
.footer-nav {
  width: 50%;
  margin: 0 auto;
  padding-top: 90px;
  /*outline: 1px solid black;*/
}

/* line 365, ../sass/main.scss */
.footer-navigation {
  text-align: center;
}

/* line 368, ../sass/main.scss */
.footer-navigation li {
  display: inline-block;
  margin-right: 50px;
}

/* line 374, ../sass/main.scss */
.footer-navigation a {
  text-decoration: none;
  text-transform: uppercase;
  color: #674a4a;
  font-family: arial;
  letter-spacing: 4px;
  font-size: 19px;
}

/* line 384, ../sass/main.scss */
.footer-navigation li .active {
  display: block;
  padding: 5px 10px;
  background: #e37a6a;
  color: white;
  text-decoration: none;
  position: relative;
}

/* line 393, ../sass/main.scss */
.footer-navigation li a:hover {
  display: block;
  padding: 5px 10px;
  background: #e37a6a;
  color: white;
  text-decoration: none;
  position: relative;
}

/* line 403, ../sass/main.scss */
.social-net {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* line 408, ../sass/main.scss */
.social-net img {
  display: inline-block;
  margin: 0 auto;
  margin-left: 15px;
  padding-top: 65px;
}

/* line 415, ../sass/main.scss */
.social-net a:last-child {
  margin-right: 60px;
}

/* line 419, ../sass/main.scss */
.to-top {
  color: #e37a6a;
  font-size: 20px;
  font-weight: 600;
  padding-right: 15px;
}

@media only screen and (max-width: 992px) {
  /* line 437, ../sass/main.scss */
  .logo-1 {
    padding-top: 35%;
    width: 100%;
    text-align: center;
  }

  /* line 443, ../sass/main.scss */
  .logo-1 span {
    color: white;
    font-size: 55px;
    letter-spacing: 8px;
    font-family: 'streamsterregular';
    margin-left: -400px;
  }

  /* line 451, ../sass/main.scss */
  .logo-2 {
    text-align: center;
  }

  /* line 454, ../sass/main.scss */
  .logo-2 span {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-family: arial;
  }

  /* line 461, ../sass/main.scss */
  label:before {
    width: 30px;
  }

  /* line 464, ../sass/main.scss */
  .search {
    width: 30px;
  }

  /* line 467, ../sass/main.scss */
  .button-down {
    width: 30px;
  }

  /* line 470, ../sass/main.scss */
  .nav {
    padding-top: 110px;
  }

  /* line 473, ../sass/main.scss */
  .inner-left h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 482, ../sass/main.scss */
  .logo-1 {
    padding-top: 22%;
    width: 100%;
    text-align: center;
  }

  /* line 488, ../sass/main.scss */
  .logo-1 span {
    color: white;
    font-size: 35px;
    letter-spacing: 6px;
    font-family: 'streamsterregular';
    margin-left: -265px;
  }

  /* line 496, ../sass/main.scss */
  .logo-2 {
    text-align: center;
  }

  /* line 499, ../sass/main.scss */
  .logo-2 span {
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: arial;
  }

  /* line 506, ../sass/main.scss */
  .train {
    padding-bottom: 100px;
  }

  /* line 509, ../sass/main.scss */
  .train img {
    height: auto;
    display: none;
  }

  /* line 513, ../sass/main.scss */
  .search {
    width: 20px;
  }

  /* line 516, ../sass/main.scss */
  .button-down {
    width: 20px;
  }

  /* line 519, ../sass/main.scss */
  .btn-down {
    bottom: 15px;
  }

  /* line 522, ../sass/main.scss */
  .nav {
    padding-top: 50px;
  }

  /* line 525, ../sass/main.scss */
  .nav li {
    padding-bottom: 40px;
  }

  /* line 528, ../sass/main.scss */
  .inner-left h1 {
    font-size: 25px;
    padding-top: 100px;
  }

  /* line 532, ../sass/main.scss */
  .inner-left p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 541, ../sass/main.scss */
  .logo-1 {
    padding-top: 22%;
    width: 100%;
    text-align: center;
  }

  /* line 547, ../sass/main.scss */
  .logo-1 span {
    color: white;
    font-size: 35px;
    letter-spacing: 4px;
    font-family: 'streamsterregular';
    margin-left: -200px;
  }

  /* line 555, ../sass/main.scss */
  .logo-2 {
    text-align: center;
  }

  /* line 558, ../sass/main.scss */
  .logo-2 span {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: arial;
  }

  /* line 566, ../sass/main.scss */
  .train {
    padding-bottom: 30px;
  }

  /* line 569, ../sass/main.scss */
  .train img {
    height: auto;
    display: none;
  }

  /* line 573, ../sass/main.scss */
  .search {
    width: 15px;
  }

  /* line 576, ../sass/main.scss */
  .button-down {
    width: 15px;
  }

  /* line 579, ../sass/main.scss */
  .btn-down {
    bottom: 5px;
  }

  /* line 582, ../sass/main.scss */
  .nav li {
    padding-bottom: 15px;
  }

  /* line 585, ../sass/main.scss */
  .nav {
    padding-top: 40px;
  }

  /* line 588, ../sass/main.scss */
  .nav a {
    font-size: 14px;
  }

  /* line 591, ../sass/main.scss */
  .inner-left p {
    font-size: 12px;
    margin-top: 80px;
  }
}
