/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on June 6, 2015 */
@font-face {
    font-family: 'streamsterregular';
    src: url('streamster-webfont.eot');
    src: url('streamster-webfont.eot?#iefix') format('embedded-opentype'),
         url('streamster-webfont.woff2') format('woff2'),
         url('streamster-webfont.woff') format('woff'),
         url('streamster-webfont.ttf') format('truetype'),
         url('streamster-webfont.svg#streamsterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}






body {
	width: 100%;
}
.toggle-menu {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: absolute;
  display: none;
  background-color: black;
}

.toggle-menu li {
  font-family: arial;
  font-size: 25px;
  margin-bottom: 95px;
  text-align: center;
}
.toggle-menu li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  opacity: 1;
}


.toggle-op {
  opacity: 0.25;
  width: 100%;
  height: 100%;
}













.main-foto {
  width: 100%;
  height: 100%;
  /*outline: 1px solid green;*/
  background: url(../image/background.png) no-repeat;
  background-size: 100%;

}
.main-foto img {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
}



.logo-1 {
	padding-top: 22%;
	width: 100%;
	text-align: center;
}

.logo-1 span {
	color: white;
	font-size: 75px;
	letter-spacing: 10px;
	font-family:'streamsterregular';
	margin-left: -570px;
}

.logo-2 {
	text-align: center;
}
.logo-2 span {
	color: white;
	font-size: 80px;
	text-transform: uppercase;
	letter-spacing: 17px;
	font-family: arial;

}
.train {
	width: 65%;
	height: 60px;
	margin: 0 auto;  
}
.train img {
	height: auto;
}
.button-arrow {
	width: 100%;
	text-align: center;
	padding-top: 200px;
}

a.button-down {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  outline: none;
  background: white;
  box-shadow: 0 1px rgba(0,0,0,.1) inset, 0 1px #fff;
}
a.button-down:after, a.button-down:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 7.5%;
  left: -15%;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 10%;
  margin: auto;
  background: #e78f81;
  box-shadow: 0 1px rgba(0,0,0,.1) inset, 0 1px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
a.button-down:before {
  left: 15%;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}



a.button-menu {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  outline: none;
  background: white;
  box-shadow: 0 1px rgba(0,0,0,.1) inset, 0 1px #fff;
  margin-left: 25px;
  margin-top: 25px;
}
a.button-menu:after, a.button-menu:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 7.5%;
  left: -15%;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 10%;
  margin: auto;
  background: #e78f81;
  box-shadow: 0 1px rgba(0,0,0,.1) inset, 0 1px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(0deg);
}
a.button-menu:before {
  left: 15%;
  -webkit-transform: rotate(315deg);
  transform: rotate(0deg);
}




a.button-search {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  outline: none;
  background: white;
  box-shadow: 0 1px rgba(0,0,0,.1) inset, 0 1px #fff;
  float: right;
  margin-right: 25px;
  margin-top: 25px;
}
a.button-search:after, a.button-search:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 7.5%;
  left: -15%;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 10%;
  margin: auto;
  background: #e78f81;
  box-shadow: 0 1px rgba(0,0,0,.1) inset, 0 1px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(0deg);
}
a.button-search:before {
  left: 15%;
  -webkit-transform: rotate(315deg);
  transform: rotate(0deg);
}

.inner-left {
	width: 44%;
	margin: 0 auto;
}

.inner-left p {
	font-family: Arial;
	font-style: italic;
	margin-top: 20px;
	padding-bottom: 230px;
}

.inner-left h1 {
	font-family: arial;
	font-size: 40px;
	text-transform: uppercase;
	color: #526a75;
	padding-top: 145px;
	text-align: center;
}
.inner-left img {
	float: right;
	margin-top: -80px;

}

.row {
	width: 90%;
	/*outline: 1px solid black;*/
	height: 495px;
  margin-left: 45px;
}
.row div {
  display: inline-block;
}
.row-1 {
  width: 90%;
  /*outline: 1px solid black;*/
  height: 355px;
  margin-left: 45px;
  margin-top: 25px;
}

.row-1 div {
    display: inline-block;
}
.item-1 {
  width: 345px;

  margin-right: 28px;
  /*outline: 1px solid black;*/
}
.item-1 img {
  width: 100%;
  height: 100%;
}
.class-1 {
  width: 345px;
  height: 235px;
  padding-bottom: 25px;
}
.class-2 {
  width: 345px;
  height: 235px;
}
.item-2 {
  /*width: 29%;*/
  width: 340px;
  height: 495px;
  /*outline: 1px solid black;*/
}
.item-2 img {
  width: 100%;
  height: 100%;
}

.item-3 {
  /*width: 38%;*/
  float: right;
  width: 465px;
  height: 495px;
}
.item-3 img {
  width: 100%;
  height: 100%;
}

.item-4 {
  width: 345px;
  height: 355px;
  /*outline: 1px solid black;*/
  margin-right: 28px;
}
.item-4 img {
  width: 100%;
  height: 100%;
}

.item-5 {
  width: 340px;
  height: 355px;
  /*outline: 1px solid black;*/
}
.item-5 img {
  width: 100%;
  height: 100%;
}

.item-6 {
  width: 465px;
  height: 355px;
  float: right;
}
.item-6 img {
  width: 100%;
  height: 100%;
}


.bottom-row div, .top-row div {
  display: inline-block;
  /*outline: 1px solid black;*/
  width: 32%;
}


.top-row {
  margin-top: 100px;
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 180px;
}
.bottom-row {
  margin: 0 auto;
  width: 90%;
}
.statistics .text {
  font-family: arial;
  text-transform: uppercase;
  font-size: 14px;
  color: #674a4a;
  text-align: center;
  letter-spacing: 3px;
}

.statistics .numb {
  font-size: 45px;
  color: #674a4a;
  text-align: center;
  font-family: arial;
  letter-spacing: 10px;
}

.statistics img {
  padding-bottom: 70px;
  display: block;
  text-align: center;
  margin: 0 auto;
}